{#def label="Check programs" #}
<button type="submit" class="btn btn-primary mt-3 shadow-sm">
  {{ label }}
  <span aria-hidden="true">&rarr;</span>
  <span class="spinner loading loading-spinner loading-sm"
        aria-hidden="true"></span>
</button>
